In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/

In [2]:
%%sql

# show databases;

# create database Optimisation;
use Optimisation;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.
0 rows affected.

[]

In [3]:
%%sql

DROP TABLE IF EXISTS customers;

CREATE TABLE customers (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name  VARCHAR(50) NOT NULL,
    last_name   VARCHAR(50) NOT NULL,
    email       VARCHAR(100) NOT NULL,
    city        VARCHAR(100) NOT NULL
);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql

CREATE INDEX idx_email ON customers (email);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [6]:
%%sql

INSERT INTO customers (first_name, last_name, email, city)
VALUES
('John', 'Doe', 'john@example.com', 'New York'),
('Jane', 'Smith', 'jane.smith@example.com', 'Los Angeles'),
('Michael', 'Brown', 'michael.brown@example.com', 'Chicago'),
('Emily', 'Johnson', 'emily.johnson@example.com', 'Houston'),
('Robert', 'Green', 'robert.green@example.com', 'Phoenix');

 * mysql+mysqlconnector://root:***@localhost/
5 rows affected.

[]

In [7]:
%%sql

select * from customers where email='john@example.com' ;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(1, 'John', 'Doe', 'john@example.com', 'New York')]

In [9]:
%%sql

EXPLAIN
SELECT *
FROM customers
WHERE email = 'john@example.com';

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(1, 'SIMPLE', 'customers', None, 'ref', 'idx_email', 'idx_email', '402', 'const', 1, 100.0, None)]

In [10]:
%%sql

EXPLAIN ANALYZE
SELECT *
FROM customers
WHERE email = 'john@example.com';

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[("-> Index lookup on customers using idx_email (email='john@example.com')  (cost=0.35 rows=1) (actual time=0.0623..0.139 rows=1 loops=1)\n",)]

In [11]:
%%sql

EXPLAIN FORMAT=JSON
SELECT *
FROM customers
WHERE email = 'john@example.com';

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "customers",\ ... (501 characters truncated) ...      "used_columns": [\n        "customer_id",\n        "first_name",\n        "last_name",\n        "email",\n        "city"\n      ]\n    }\n  }\n}',)]

In [13]:
%%sql

DROP TABLE IF EXISTS orders;

# Range
# -----
CREATE TABLE orders (
    order_id   INT AUTO_INCREMENT ,
    order_date DATE NOT NULL, 
    customer_name VARCHAR(50),
    amount     DECIMAL(10,2),
PRIMARY KEY(order_id, order_date)
)
PARTITION BY RANGE (YEAR(order_date)) (
    PARTITION p_before_2020 VALUES LESS THAN (2020),
    PARTITION p_2020       VALUES LESS THAN (2021),
    PARTITION p_2021       VALUES LESS THAN (2022),
    PARTITION p_2022       VALUES LESS THAN (2023),
    PARTITION p_future     VALUES LESS THAN MAXVALUE
);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [14]:
%%sql

INSERT INTO orders (order_date, customer_name, amount)
VALUES
('2019-05-10', 'Alice', 100.00),
('2020-01-15', 'Bob', 200.50),
('2020-12-01', 'Charlie', 300.00),
('2021-07-20', 'Diana', 150.75),
('2022-03-02', 'Edward', 500.00),
('2025-06-18', 'FutureMan', 9999.99);

 * mysql+mysqlconnector://root:***@localhost/
6 rows affected.

[]

In [21]:
%%sql

# ALTER TABLE orders
# ADD PARTITION(
#     PARTITION p_2023 VALUES LESS THAN (2025)
# );

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [22]:
%%sql

SELECT 
    PARTITION_NAME,
    PARTITION_METHOD,
    PARTITION_EXPRESSION,
    SUBPARTITION_METHOD,
    SUBPARTITION_EXPRESSION
FROM information_schema.PARTITIONS
WHERE TABLE_SCHEMA = 'Optimisation'
  AND TABLE_NAME   = 'orders';

 * mysql+mysqlconnector://root:***@localhost/
4 rows affected.

[('p_2020', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2021', 'RANGE', 'year(`order_date`)', None, None),
 ('p_2022', 'RANGE', 'year(`order_date`)', None, None),
 ('p_before_2020', 'RANGE', 'year(`order_date`)', None, None)]

In [24]:
%%sql

show create table Optimisation.orders;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[('orders', 'CREATE TABLE `orders` (\n  `order_id` int NOT NULL AUTO_INCREMENT,\n  `order_date` date NOT NULL,\n  `customer_name` varchar(50) DEFAULT NULL,\n  `am ... (310 characters truncated) ... AN (2021) ENGINE = InnoDB,\n PARTITION p_2021 VALUES LESS THAN (2022) ENGINE = InnoDB,\n PARTITION p_2022 VALUES LESS THAN (2023) ENGINE = InnoDB) */')]

In [27]:
%%sql

# use Optimisation;
select * from orders where order_date='2020-07-20' ;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [28]:
%%sql

explain FORMAT=JSON
select * from orders where order_date='2021-07-20'

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "orders",\n   ... (418 characters truncated) ... customer_name",\n        "amount"\n      ],\n      "attached_condition": "(`optimisation`.`orders`.`order_date` = DATE\'2021-07-20\')"\n    }\n  }\n}',)]

In [29]:
%%sql

DROP TABLE IF EXISTS employees;

CREATE TABLE employees (
    employee_id INT AUTO_INCREMENT,
    first_name  VARCHAR(50),
    last_name   VARCHAR(50),
    department  VARCHAR(50),
    primary key (employee_id,department)
)
PARTITION BY LIST COLUMNS (department) (
    PARTITION p_sales       VALUES IN ('Sales'),
    PARTITION p_hr          VALUES IN ('HR'),
    PARTITION p_engineering VALUES IN ('Engineering', 'DevOps'),
    PARTITION p_other       VALUES IN ('Finance', 'Marketing', 'Operations')
);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [30]:
%%sql

INSERT INTO employees (first_name, last_name, department)
VALUES
('Alice', 'Smith', 'Sales'),
('Bob', 'Johnson', 'HR'),
('Charlie', 'Lee', 'Engineering'),
('Diana', 'Lopez', 'DevOps'),
('Eve', 'Turner', 'Marketing');

 * mysql+mysqlconnector://root:***@localhost/
5 rows affected.

[]

In [31]:
%%sql

select * from employees where department='Sales'

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(1, 'Alice', 'Smith', 'Sales')]

In [32]:
%%sql

EXPLAIN FORMAT=JSON
select * from employees where department='Sales'

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "employees",\ ... (419 characters truncated) ...      "last_name",\n        "department"\n      ],\n      "attached_condition": "(`optimisation`.`employees`.`department` = \'Sales\')"\n    }\n  }\n}',)]

In [33]:
%%sql

DROP TABLE IF EXISTS sensor_data;

CREATE TABLE sensor_data (
    sensor_id     INT NOT NULL,
    reading_time  DATETIME NOT NULL,
    reading_value DECIMAL(10,2),
    PRIMARY KEY (sensor_id, reading_time)
)
PARTITION BY HASH(sensor_id)
PARTITIONS 2;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [34]:
%%sql

INSERT INTO sensor_data (sensor_id, reading_time, reading_value)
VALUES
(101, '2025-01-01 10:00:00', 23.50),
(102, '2025-01-01 10:05:00', 24.10),
(103, '2025-01-01 10:10:00', 22.75),
(104, '2025-01-01 10:15:00', 25.00),
(105, '2025-01-01 10:20:00', 20.00),
(106, '2025-01-01 10:25:00', 21.60);

 * mysql+mysqlconnector://root:***@localhost/
6 rows affected.

[]

In [35]:
%%sql

explain format=json
select * from sensor_data where sensor_id=102

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[('{\n  "query_block": {\n    "select_id": 1,\n    "cost_info": {\n      "query_cost": "0.35"\n    },\n    "table": {\n      "table_name": "sensor_data" ... (517 characters truncated) ... ad_per_join": "16"\n      },\n      "used_columns": [\n        "sensor_id",\n        "reading_time",\n        "reading_value"\n      ]\n    }\n  }\n}',)]

In [41]:
%%sql

# Sub Partition 
# -------------

drop table if exists orders;

CREATE TABLE orders (
    order_id      INT NOT NULL,
    order_date    DATE NOT NULL,
    customer_name VARCHAR(50),
    amount        DECIMAL(10,2),
    PRIMARY KEY (order_id, order_date)  -- include order_date
)
PARTITION BY RANGE (YEAR(order_date))
SUBPARTITION BY HASH (MONTH(order_date))
(
  PARTITION p_before_2020 VALUES LESS THAN (2020)
    (SUBPARTITION sp_b2020_1, SUBPARTITION sp_b2020_2),
  PARTITION p_2020 VALUES LESS THAN (2021)
    (SUBPARTITION sp_2020_1, SUBPARTITION sp_2020_2),
  PARTITION p_future VALUES LESS THAN MAXVALUE
    (SUBPARTITION sp_future_1, SUBPARTITION sp_future_2)
);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [43]:
%%sql

DROP TABLE IF EXISTS orders;

CREATE TABLE orders (
    order_id      INT AUTO_INCREMENT,
    order_date    DATE NOT NULL,
    customer_name VARCHAR(50),
    amount        DECIMAL(10,2),
    PRIMARY KEY(order_id, order_date)
)
-- Partitioning by YEAR(order_date)
PARTITION BY RANGE (YEAR(order_date)) (
    PARTITION p_before_2020 VALUES LESS THAN (2020),
    PARTITION p_2020       VALUES LESS THAN (2021),
    PARTITION p_2021       VALUES LESS THAN (2022),
    PARTITION p_2022       VALUES LESS THAN (2023),
    PARTITION p_future     VALUES LESS THAN MAXVALUE
);
CREATE INDEX idx_order_date ON orders (order_date);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [44]:
%%sql

INSERT INTO orders (order_date, customer_name, amount)
VALUES
('2019-05-10', 'Alice', 100.00),
('2020-01-15', 'Bob', 200.50),
('2020-12-01', 'Charlie', 300.00),
('2021-07-20', 'Diana', 150.75),
('2022-03-02', 'Edward', 500.00),
('2025-06-18', 'FutureMan', 9999.99);

 * mysql+mysqlconnector://root:***@localhost/
6 rows affected.

[]

In [45]:
%%sql

SELECT *
FROM orders
WHERE order_date BETWEEN '2020-01-01' AND '2020-12-31';

 * mysql+mysqlconnector://root:***@localhost/
2 rows affected.

[(2, datetime.date(2020, 1, 15), 'Bob', Decimal('200.50')),
 (3, datetime.date(2020, 12, 1), 'Charlie', Decimal('300.00'))]