ACID 

1. Atomicity

Atomicity means that a transaction is treated as a single, indivisible unit.
Either all the operations in the transaction are completed successfully, or none of them are. There's no in-between state.
1. savings 199 debit   2. credit to netflix 199 
pass 					fail

199 return 


2.Consistency 
Consistency ensures that a transaction brings the database from one valid state to another, following all the defined rules (like constraints, triggers, etc.).

Before the transaction:

trade account : $500
murtual funds: $300
Total: $800
Transaction: Transfer $100 from trade account to murtual funds .

After the transaction:

trade account : $400
murtual funds: $400
Total: $800


trade account : $500
murtual funds: $400
Total: $900


3. Isolation
Isolation means that transactions running concurrently do not interfere with each other. Each transaction should be executed as if it is the only one in the system.

Person A is transferring $100.
Person B is transferring $200.

4. Durability 

Durability guarantees that once a transaction has been committed, it will remain so, even in the event of a system failure like a power outage or crash.

Even if the database crashes immediately after, when it comes back online, the transfer is still reflected in your account balances.

In [1]:

%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/

In [3]:

%%sql

# create database Transactions;
use Transactions;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [4]:
%%sql

CREATE TABLE Accounts (
  AccountID INT PRIMARY KEY,
  AccountHolder VARCHAR(100),
  Balance DECIMAL(10,2)
);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [5]:
%%sql

-- Insert a new record into Accounts
INSERT INTO Accounts (AccountID, AccountHolder, Balance)
VALUES (1, 'Alice', 5000.00);

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[]

In [6]:
%%sql

select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(1, 'Alice', Decimal('5000.00'))]

In [14]:
%%sql

START TRANSACTION;

# begin

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [15]:
%%sql

-- Perform one or more SQL statements
UPDATE Accounts SET Balance = Balance - 1000 WHERE AccountID = 1;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[]

In [16]:
%%sql

select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(1, 'Alice', Decimal('3000.00'))]

In [20]:
%%sql

rollback;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [21]:
%%sql

select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(1, 'Alice', Decimal('3000.00'))]

In [22]:
%%sql

-- If all statements execute successfully, commit the transaction
COMMIT;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [23]:
%%sql

UPDATE Accounts SET Balance = Balance - 1000 WHERE AccountID = 1;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[]

In [24]:
%%sql
select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(1, 'Alice', Decimal('2000.00'))]

In [25]:
%%sql

rollback;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [26]:
%%sql

select * from accounts;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(1, 'Alice', Decimal('2000.00'))]

In [27]:
%%sql

CREATE USER 'jane_doe'@'localhost' IDENTIFIED BY 'StrongP@ssw0rd';

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [28]:
%%sql

GRANT SELECT, INSERT ON test.* TO 'jane_doe'@'localhost';

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [29]:
%%sql

FLUSH PRIVILEGES;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [31]:
%%sql

SELECT User, Host FROM mysql.user;

 * mysql+mysqlconnector://root:***@localhost/
5 rows affected.

[('jane_doe', 'localhost'),
 ('mysql.infoschema', 'localhost'),
 ('mysql.session', 'localhost'),
 ('mysql.sys', 'localhost'),
 ('root', 'localhost')]

In [32]:
%%sql

REVOKE SELECT, INSERT ON test.* FROM 'jane_doe'@'localhost';

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [33]:
%%sql

FLUSH PRIVILEGES;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]